{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="vertical" style="padding-top: 40px">
        <div class="customLogo loginLogoBox horizontal textOrange">
            <img class="navbar-image-logo marginRight16" src="{% static "sparta.png" %}" alt="🍊">
            <span>스파르타마켓</span>
            <img class="navbar-image-logo marginLeft16" src="{% static "sparta.png" %}" alt="🍊">
        </div>
        <div class="vertical">
            <form method="post" class="vertical">
                {% csrf_token %}
                <input type="text" name="userid" placeholder="ID" class="customInput">
                <input type="password" name="userpw" placeholder="Password" class="customInput">
                <button class="button2 marginTop16">로그인</button>
            </form>
            <div id="loginBottomArea">
                <a href="{% url 'accounts:signup' %}" class="button3">회원가입</a>
            </div>
            <div>
                <span>{{ error_message }}</span>
            </div>
        </div>
    </div>
{% endblock content %}
