{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="horizontal">
        <form action="{% url 'items:register' %}" method="GET">
            <input type="submit" class="btn btn-primary" value="물건 등록">
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5">
    {% for item in item_list %}
        <div class="col">
            <div class="card h-100">
                {% if item.url %}
                    <img src="{{ item.url }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/ive.jpg" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'items:item_detail' item.id %}">{{ item.title }}</a></h5>
                    <div class="horizontal">
                        <p>{{ item.user }}</p>
                        <p>조회수 : {{ item.click_count }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
