{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>물건 등록하기</h1>
    <div class="image-register-container horizontal">
        <button class="btn btn-primary" onclick="addImage()">이미지 등록</button>
        <div id="image-row" class="row row-cols-md-4 g-4 mx-auto w-75">
        </div>
    </div>

    <div>
        <form action="{% url 'items:register' %}" method="POST">
            {% csrf_token %}

            <div class="register-title my-2">
                <h5>제목</h5>
                <label>
                    <input type="text" name="title" placeholder="제목">
                </label>
            </div>

            <div class="register-price my-2">
                <h5>가격</h5>
                <label>
                    <input type="number" name="price" placeholder="가격을 입력하세요">
                </label>
            </div>

            <div class="register-content my-2">
                <h5>설명</h5>
                <label>
                    <textarea name="content" rows="4" cols="50"></textarea>
                </label>
            </div>

        </form>

        <div class="register-input my-2">
            <button class="btn btn-primary" onclick="doRegister()">등록하기</button>
        </div>
    </div>

    <script>
        let selectedFileList = []
        const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]');
        const titleInput = document.querySelector('input[name="title"]');
        const priceInput = document.querySelector('input[name="price"]');
        const contentInput = document.querySelector('textarea[name="content"]');

        function addImage() {
            var input = document.createElement('input');
            input.type = 'file';

            // 파일 선택 다이얼로그 표시
            input.click();

            // 파일 선택 다이얼로그에서 파일을 선택했을 때 이벤트 처리
            input.addEventListener('change', function (event) {
                const selectedFile = event.target.files[0];
                selectedFileList.push(selectedFile)

                var divRow = document.getElementById('image-row');

                imgSrc = URL.createObjectURL(selectedFile);
                console.log(imgSrc)

                var htmlString = `
        <div class="card h-20">
            <img src="${imgSrc}" class="image-item card-img-top" alt="...">
        </div>
`;
                var divCol = document.createElement('div');
                divCol.classList.add('col')
                divCol.innerHTML = htmlString;

                divRow.appendChild(divCol)
            });
        }

        function doRegister() {
            const csrfToken = csrfTokenInput.value.trim();
            const title = titleInput.value.trim();
            const price = priceInput.value.trim();
            const content = contentInput.value.trim();
            const images = document.querySelectorAll(".image-item")
            const imageSrcList = []

            for (const img of images) {
                imageSrcList.push(img.getAttribute('src'))
            }

            fetch('/items/check_register/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    title: title,
                    price: price,
                    content: content,
                    images: imageSrcList
                })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data['isValid']) {
                        var formData = new FormData();
                        for (var i = 0; i < selectedFileList.length; ++i) {
                            formData.append(`file${i}`, selectedFileList[i]);
                        }
                        formData.append('title', title)
                        formData.append('price', price)
                        formData.append('content', content)

                        // AJAX 요청 보내기
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/items/do_register/', true); // 업로드를 처리할 URL로 변경해야 합니다.
                        xhr.onload = function () {
                            if (xhr.status === 200) {
                                console.log('파일 업로드 성공');
                                window.location = '/items/index/'
                            } else {
                                console.error('파일 업로드 실패');
                            }
                        };
                        xhr.setRequestHeader('X-CSRFToken', csrfToken);
                        xhr.send(formData);
                    } else {
                        console.log('invalid')
                    }
                })
                .catch(error => console.error('Error:', error));

        }

    </script>



{% endblock content %}
